* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

/* font-family: 'Gowun Dodum', sans-serif; general
font-family: 'Gloock', serif; titulo
fondo = 456C83
*/
.header-position {
  position: sticky;
}

.btn-mi-color {
  background-color: antiquewhite;
  color: #F4D7D3;
}

.bg-custom {
  background-color: #456C83;
}

li:hover {
  color: #7DB9B6;
  text-decoration: underline;
}

.logo {
  height: 3rem;
  width: 9rem;
}

.offcanvas {
  background-color: #456C83;
}

/* pie */
.footer-index div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #456C83;
}
.footer-index a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #456C83;
}

footer {
  width: 100%;
  height: 8rem;
  background-color: #3B5D71;
}

.grid-pie {
  background-color: #3B5D71;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.itemayuda {
  grid-area: 1/1;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.itemenvios {
  grid-area: 2/1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.itemdefensa {
  grid-area: 3/1;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.itemlogo {
  grid-area: 3/2;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.info-pie {
  color: #F4D7D3;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1rem;
  font-style: none;
  font-weight: 400;
}

/* index */
.main-index {
  background-color: #456C83;
  background-image: url(https://i.postimg.cc/HncjM3cB/fondoo.jpg);
  padding: 0% 5% 5% 5%;
  width: 100%;
  height: 700px;
  background-position: center;
  background-position-y: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-index section div {
  width: 100%;
  height: 50rem;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-index section div h1 {
  color: #7DB9B6;
  font-family: "Gloock", serif;
  font-size: 5rem;
}
.main-index section div h2 {
  color: #F4D7D3;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 2rem;
}

.navbar-botton {
  color: #F4D7D3;
  background-color: #F4D7D3;
  border-bottom: #F4D7D3;
}

.main-catalogo {
  background-color: #456C83;
  width: 100%;
}

.h1-edit {
  color: #F4D7D3;
  font-family: "Gloock", serif;
  font-size: 5rem;
  letter-spacing: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div-flex {
  padding-top: 40px;
}
.div-flex ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.div-flex ul li {
  display: inline-block;
  text-decoration: none;
}

.ul-edit {
  align-items: center;
}

.div-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.div-p p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: #F4D7D3;
  text-align: center;
  font-size: 1.5rem;
  color: whitesmoke;
  width: 100%;
  height: 10rem;
}

.carrusel {
  height: 20rem;
}

.shop-now {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.text-shop-now {
  text-decoration: none;
  color: #456C83;
  font-size: 2rem;
}

.boton-edit {
  width: 20rem;
  height: 9rem;
  color: #F4D7D3;
  border-color: #7DB9B6;
  box-shadow: #7DB9B6;
  border-radius: 2rem;
  border-width: 0.2rem;
}

/* productos */
.prods {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-sizing: content-box;
}

.card-editt {
  background-color: #F4D7D3;
}

.button-comprar {
  background-color: #456C83;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  border-bottom: #456C83;
  font-size: 1.3rem;
  color: #7DB9B6;
}

.none {
  text-decoration: none;
  color: #7DB9B6;
}

.carrusel-mobil {
  padding-top: 80px;
  display: none;
}

.button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.carrusel-mobil {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
.main-nosotros {
  background-color: #456C83;
  background-image: url(https://i.postimg.cc/R0ptygtL/amigas.jpg);
  padding: 0% 5% 5% 5%;
  width: 100%;
  height: 60rem;
  background-position: center;
  background-position-y: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-nosotros .nosotros-flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.main-nosotros .div-quien {
  padding-top: 120px;
}
.main-nosotros .div-quien h1 {
  color: #F4D7D3;
  font-family: "Gloock", serif;
  font-size: 5rem;
  letter-spacing: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #7DB9B6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e2e0e0;
  width: 100%;
  height: 10rem;
}
.main-nosotros .accordion-header {
  --bs-accordion-active-bg: #7DB9B6;
}
.main-nosotros .div-obj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-nosotros .div-obj p {
  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #e2e0e0;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.2rem;
  position: center;
  text-indent: 20px;
}

h1 {
  opacity: 0;
  animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
p {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
.accordion-button {
  background-color: #F4D7D3;
}

.edit-uno {
  margin-top: 30px;
  width: 50rem;
  position: center;
}

.edit-dos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-tres {
  background-color: #e2e0e0;
}

button.accordion-button {
  background-color: #e2e0e0;
  font-size: 2rem;
  color: #7DB9B6;
}

.edit-cuatro {
  background-color: #e2e0e0;
  font-size: 1.5rem;
  color: #7DB9B6;
}

/* beneficio*/
.main-beneficio {
  text-align: center;
  background-image: linear-gradient(to bottom, #456c83, #456c83, #456c83, #548999, #5e97a2, #6aa6ab, #79b0aa, #8cb9aa);
  width: 100%;
  height: 50rem;
  background-position: center;
  background-position-y: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-beneficio div {
  padding-top: 90px;
}
.main-beneficio div h1 {
  color: #F4D7D3;
  font-family: "Gloock", serif;
  font-size: 5rem;
  letter-spacing: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 100%;
  height: 100px;
}
.main-beneficio div p {
  padding-top: 30px;
  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #e2e0e0;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.2rem;
  position: center;
  text-indent: 20px;
}

.ul-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.ul-flex li {
  display: inline-block;
  gap: 20px;
  text-decoration: none;
}

.lee {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 2rem;
  color: #F4D7D3;
  text-decoration: none;
  background-color: #456C83;
  width: 100%;
}

.subrayado:hover {
  color: #7DB9B6;
}

.cuadrado-fast {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

h1 {
  opacity: 0;
  animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
p {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
/* fast fashion */
.main-fast {
  box-sizing: content-box;
  text-align: center;
  background-image: linear-gradient(to bottom, #456c83, #456c83, #456c83, #548999, #5e97a2, #6aa6ab, #79b0aa, #8cb9aa);
  height: 90rem;
  background-position: center;
  background-position-y: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-fast section {
  padding-top: 70px;
}
.main-fast section h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F4D7D3;
  font-family: "Gloock", serif;
  font-size: 5rem;
  letter-spacing: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-fast section p {
  padding-top: 30px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  color: #e2e0e0;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.2rem;
  position: center;
}

.ul-flex {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.ul-flex li {
  display: inline-block;
  text-decoration: none;
}

h1 {
  opacity: 0;
  animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
p {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
.card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 5rem;
  margin-left: 5rem;
}

.card-edit {
  width: 500px;
  height: 10rem;
}

.main-flex-pp {
  background-color: #456C83;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-flex-pp div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-flex-pp div h1 {
  padding-top: 120px;
  width: 100%;
  height: 30rem;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 4rem;
  color: #F4D7D3;
}
.main-flex-pp div h2 {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 2rem;
  color: #F4D7D3;
}

@media (max-width: 2560px) {
  .desaparecer {
    display: none;
  }
  .redes-dropdown {
    display: none;
  }
}
@media (max-width: 1024px) {
  .desaparecer {
    display: none;
  }
}
@media (max-width: 768px) {
  .main-index {
    background-image: url(https://i.postimg.cc/ZRDC0XRW/fondotablet.jpg);
    width: 100%;
    height: 40rem;
  }
  /* catalogo */
  .text-shop-now {
    font-size: 1.5rem;
  }
  .boton-edit {
    width: 13rem;
    height: 6rem;
  }
  /* nosotros */
  .main-nosotros {
    background-image: url(https://i.postimg.cc/D0MkHZRT/amigas-3.jpg);
    height: 43rem;
  }
  .main-nosotros .div-quien {
    padding-top: 90px;
  }
  .main-nosotros .div-quien h1 {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #7DB9B6;
    font-size: 3rem;
    background-color: #e2e0e0;
    display: flex;
    width: 100%;
    height: 6rem;
  }
  .main-nosotros .div-obj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-nosotros .div-obj p {
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    color: #e2e0e0;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1rem;
    position: center;
    text-indent: 20px;
  }
  .edit-tres {
    background-color: #e2e0e0;
  }
  button.accordion-button {
    background-color: #e2e0e0;
    font-size: 1.2rem;
    color: #7DB9B6;
  }
  .edit-cuatro {
    background-color: #e2e0e0;
    color: #7DB9B6;
  }
  .main-beneficio {
    height: 40rem;
  }
  .main-beneficio div {
    padding-top: 50px;
  }
  .main-beneficio div h1 {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.7rem;
    letter-spacing: 2px;
  }
  .main-beneficio div p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    position: center;
    text-indent: 20px;
  }
  .main-beneficio .lee {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.5rem;
    color: #F4D7D3;
    text-decoration: none;
    background-color: #456C83;
    width: 100%;
  }
  .main-beneficio .cuadrado-fast {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
  .main-fast {
    height: 80rem;
  }
  .main-fast section h1 {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
  }
  .main-fast section p {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    text-indent: 20px;
  }
  .main-fast .card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .main-fast .card-edit {
    width: 355px;
    height: 40rem;
  }
  .main-flex-pp div h1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  nav {
    display: none;
  }
  .desaparecer {
    display: block;
  }
  .main-index {
    background-image: url(../assets/img/fondomedio.jpg);
    width: 100%;
    height: 50rem;
  }
  .titulo {
    font-size: 4.5rem;
  }
  .subtitulo {
    font-size: 2rem;
  }
  .text-shop-now {
    font-size: 0.5;
  }
  .carrusel-media {
    display: none;
  }
}
@media (max-width: 375px) {
  .main-index {
    background-image: url(https://i.postimg.cc/pTdmWP2N/fondomedio.jpg);
    width: 100%;
    height: 50rem;
  }
  .titulo {
    font-size: 4rem;
  }
  .subtitulo {
    font-size: 1.5rem;
  }
  /* catalogo */
  .carrusel-desktop {
    display: none;
  }
  .li-edit {
    padding-left: 2px;
  }
  .text-shop-now {
    font-size: 1rem;
  }
  .boton-edit {
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .h1-edit {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .div-flex {
    padding-top: 90px;
  }
  .div-flex ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .div-flex ul li {
    display: inline-block;
    text-decoration: none;
  }
  .div-p p {
    font-size: 0.8rem;
  }
  .planta {
    padding: 0%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  /* nosotros */
  .main-nosotros {
    background-color: #456C83;
    background-image: url(https://i.postimg.cc/7LgYC7F2/amigas-9.jpg);
    height: 64.8rem;
    padding-bottom: 8rem;
  }
  .main-nosotros .div-quien {
    padding-top: 70px;
  }
  .main-nosotros .div-quien h1 {
    margin-top: 1.2rem;
    height: 5rem;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .main-nosotros .div-obj p {
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    text-indent: 10px;
  }
  .edit-tres {
    background-color: #e2e0e0;
  }
  button.accordion-button {
    background-color: #e2e0e0;
    font-size: 1rem;
    color: #7DB9B6;
  }
  .edit-cuatro {
    background-color: #e2e0e0;
    font-size: 1.5rem;
    color: #7DB9B6;
  }
  .edit-cinco {
    font-size: 1rem;
  }
  /* beneficio */
  .main-beneficio {
    height: 55rem;
  }
  .main-beneficio div {
    padding-top: 50px;
  }
  .main-beneficio div h1 {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .main-beneficio div p {
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    position: center;
    text-indent: 20px;
  }
  .main-beneficio .lee {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1rem;
    color: #F4D7D3;
    text-decoration: none;
    background-color: #456C83;
    width: 100%;
    height: 3rem;
  }
  .main-beneficio .cuadrado-fast {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
  .main-beneficio .planta {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .main-fast {
    height: 145rem;
  }
  .main-fast section {
    padding-top: 85px;
  }
  .main-fast section h1 {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .main-fast section p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    text-indent: 20px;
  }
  .main-fast .card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .main-fast .card-edit {
    width: 355px;
    height: 40rem;
  }
}
h1 {
  opacity: 0;
  animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
p {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
@media (max-width: 320px) {
  .main-index {
    background-image: url(https://i.postimg.cc/pTdmWP2N/fondomedio.jpg);
    width: 100%;
    height: 50rem;
  }
  .titulo {
    font-size: 4rem;
  }
  .subtitulo {
    font-size: 1.5rem;
  }
  /* catalogo */
  .carrusel-desktop {
    display: none;
  }
  .li-edit {
    padding-left: 2px;
  }
  .text-shop-now {
    font-size: 1rem;
  }
  .boton-edit {
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .h1-edit {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .div-flex {
    padding-top: 90px;
  }
  .div-flex ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .div-flex ul li {
    display: inline-block;
    text-decoration: none;
  }
  .div-p p {
    font-size: 0.8rem;
  }
  .planta {
    padding: 0%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  /* nosotros */
  .main-nosotros {
    background-color: #456C83;
    background-image: url(https://i.postimg.cc/7LgYC7F2/amigas-9.jpg);
    height: 64.8rem;
    padding-bottom: 8rem;
  }
  .main-nosotros .div-quien {
    padding-top: 70px;
  }
  .main-nosotros .div-quien h1 {
    margin-top: 1.2rem;
    height: 5rem;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .main-nosotros .div-obj p {
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    text-indent: 10px;
  }
  .edit-tres {
    background-color: #e2e0e0;
  }
  button.accordion-button {
    background-color: #e2e0e0;
    font-size: 1rem;
    color: #7DB9B6;
  }
  .edit-cuatro {
    background-color: #e2e0e0;
    font-size: 1.5rem;
    color: #7DB9B6;
  }
  .edit-cinco {
    font-size: 0.7rem;
  }
  /* beneficio */
  .main-beneficio {
    height: 55rem;
  }
  .main-beneficio div {
    padding-top: 50px;
  }
  .main-beneficio div h1 {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }
  .main-beneficio div p {
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    position: center;
    text-indent: 20px;
  }
  .main-beneficio .lee {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.9rem;
    color: #F4D7D3;
    text-decoration: none;
    background-color: #456C83;
    width: 100%;
    height: 3rem;
  }
  .main-beneficio .cuadrado-fast {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
  .main-beneficio .planta {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .main-fast {
    height: 145rem;
  }
  .main-fast section h1 {
    color: #F4D7D3;
    font-family: "Gloock", serif;
    font-size: 5rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .main-fast section p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    text-indent: 20px;
  }
  .main-fast .card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .main-fast .card-edit {
    width: 355px;
    height: 40rem;
  }
}
h1 {
  opacity: 0;
  animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
p {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
