.main-catalogo{
    background-color: #456C83;
    width: 100%
}
.h1-edit{
    @include h1-style;
}
.div-flex{
    padding-top: 40px;
    ul{
        padding-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        li{
          display: inline-block;
          text-decoration: none;
        }
    }
}
.div-p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        background-color: $color-dos;
        text-align: center;
        font-size: 1.5rem;
        color: whitesmoke;
        width: 100%;
        height: 10rem;
    }
}
.carrusel{
    height: 20rem;
}
.shop-now{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
 .text-shop-now{
    text-decoration: none;
    color: #456C83;
    font-size: 2rem;
}
.boton-edit{
    width: 20rem;
    height: 9rem;
    color: #F4D7D3;
    border-color: #7DB9B6;
    box-shadow: #7DB9B6;
    border-radius: 2rem;
    border-width: 0.2rem;
}
.prods{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    box-sizing: content-box;
}
.card-editt{
    background-color: $color-dos;
}
.button-comprar{
    background-color: $color;
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
    border-bottom: #456C83;
    font-size: 1.3rem;
    color: $color-tres;
}
.none{
    text-decoration: none;
    color: $color-tres;
}
.carrusel-mobil{
    padding-top: 80px;
    display: none;
}
.button:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.carrusel-mobil{
    opacity: 0;
    animation: fade-in 2s ease forwards;
}
@keyframes fade-in {
    100% {
      opacity: 1;
    }
  }