/* fast fashion */
.main-fast{
    box-sizing: content-box;
    text-align: center;
    background-image: linear-gradient(to bottom, #456c83, #456c83, #548999, #5e97a2, #6aa6ab, #79b0aa, #8cb9aa, #a0c2aa, #bdc7a9, #d6cbb0, #e9d0c0, #f4d7d3);
    height: 86rem;
    background-position: center;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    section{
      padding-top: 70px;
        h1{
          display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10rem;
            color: $color-tres;
            @include h1-style;
        }
        p{
          padding-bottom: 70px;
            margin-left: 3rem;
            margin-right: 3rem;
            color: #e2e0e0;
            font-family: 'Gowun Dodum', sans-serif;
            font-size: 1.2rem;
            position: center;
            text-indent: 20px; 
        }
    }
}
h1 {
    opacity: 0;
    animation: fade-in 3s ease forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }

p {
    opacity: 0;
    animation: fade-in 2s ease forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }
  .card-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .card-edit{
    width: 500px;
    height: 10rem;
  }
