/* fast fashion */
.main-fast{
    box-sizing: content-box;
    text-align: center;
    background-image: linear-gradient(to bottom, #456c83, #456c83, #456c83, #548999, #5e97a2, #6aa6ab, #79b0aa, #8cb9aa);
    height: 90rem;
    background-position: center;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    section{
      padding-top: 70px;
        h1{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @include h1-style;
        }
        p{
          padding-top: 30px;
          margin-left: 2rem;
          margin-right: 2rem;
          margin-bottom: 4rem;
          color: #e2e0e0;
          font-family: 'Gowun Dodum', sans-serif;
          font-size: 1.2rem;
          position: center;
        }
    }
}
.ul-flex{
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  li{
    display: inline-block;
    text-decoration: none;
  }
}
h1 {
    opacity: 0;
    animation: fade-in 3s ease forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }

p {
    opacity: 0;
    animation: fade-in 2s ease forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }
  .card-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .card-edit{
    width: 500px;
    height: 10rem;
  }
