.header-position{
    position: sticky;
}
.btn-mi-color{
    background-color: antiquewhite;
    color: $color-dos;
}
.bg-custom{
    background-color: $color;
}
  
li:hover{
    color: #7DB9B6;
    text-decoration: underline;
}
.logo{
    height: 3rem;
    width: 9rem;
}
.offcanvas {
    background-color: #456C83;
  }