@media (max-width:768px){
    .main-index{
        background-image: url(https://i.postimg.cc/ZRDC0XRW/fondotablet.jpg);
        width: 100%;
        height: 40rem;
    }
    /* catalogo */
    .text-shop-now{
        font-size: 1.5rem;
    }
    .boton-edit{
        width: 13rem;
        height: 6rem;
    }

    /* nosotros */
    .main-nosotros{
        background-image: url(https://i.postimg.cc/D0MkHZRT/amigas-3.jpg);
        height: 43rem;
        .div-quien{
            padding-top: 90px;
              h1{
                @include h1-style;
                color: $color-tres;
                font-size: 3rem;
                background-color: #e2e0e0;
                display: flex;
                width: 100%;
                height: 6rem; 
              }
          }
        .div-obj{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                margin-top: 1rem;
                margin-left: 1.8rem;
                margin-right: 1.8rem;
                color: #e2e0e0;
                font-family: 'Gowun Dodum', sans-serif;
                font-size: 1rem;
                position: center;
                text-indent: 20px;
            }
        }
    }
    .edit-tres{
        background-color: #e2e0e0;
    }
      button.accordion-button {
        background-color: #e2e0e0;
        font-size: 1.2rem;
        color: $color-tres;
    }
    .edit-cuatro{
        background-color: #e2e0e0;
        color: $color-tres;
    }
    

    .main-beneficio{
        height: 80rem;
        div{
            padding-top: 50px;
            h1{
                @include h1-style;
                font-size: 2.7rem;
                letter-spacing: 2px;
            }
            p{
                margin-top: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                font-size: 1rem;
                position: center;
                text-indent: 20px;
            }
        }
    }
    .ul-flex{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      li{
        display: inline-block;
        gap: 20px;
        text-decoration: none;
      }
    }
    .lee{
        font-family: 'Gowun Dodum', sans-serif;
        font-size: 1.4rem;
        width: 100%;
    }
    .subrayado:hover{
        color: $color-tres;
    }
    .cuadrado-fast{
      padding-top: 90px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: end;   
    } 
}
.main-fast{
        h1{
            font-size: 3rem;
        }
        p{
            margin-top: 2.5rem;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: 1.2rem;
            text-indent: 20px; 
        }
        article{
            div{
                margin-top: 2rem;
                width: 650px;
                height: 100px;
                ul{
                    li{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .main-flex-pp{
        div{
            h1{
                font-size: 4rem;
            }
        }
    }

.main-beneficio{
    box-sizing: content-box;
    text-align: center;
    background-image: linear-gradient(to bottom, #456c83, #456c83, #456c83, #548999, #5e97a2, #6aa6ab, #79b0aa, #8cb9aa);
    width: 100%;
    height: 800px;
    background-position: center;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    section{
      padding-top: 90px;
        h1{
            @include h1-style;
            width: 100%;
            height: 100px; 
        }
        p{
            padding-top: 30px;
            margin-top: 2.5rem;
            margin-left: 2rem;
            margin-right: 2rem;
            color: #e2e0e0;
            font-family: 'Gowun Dodum', sans-serif;
            font-size: 1.2rem;
            position: center;
            text-indent: 20px;
        }
    }
}
.ul-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  li{
    display: inline-block;
    gap: 20px;
    text-decoration: none;
  }
}
.lee{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 2rem;
    color: $color-dos;  
    text-decoration: none;
    background-color: $color;
    width: 100%;
}
.subrayado:hover{
    color: $color-tres;
}
.cuadrado-fast{
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;   
}


@media (max-width:425px){
    nav{
        display: none;
    }
    .desaparecer{
        display: block;
    }
    .main-index{
        background-image: url(../assets/img/fondomedio.jpg);
        width: 100%;
        height: 50rem;
    }
    .titulo{
        font-size: 4.5rem;
    }
    .subtitulo{
        font-size: 2rem;
    }
    .text-shop-now{
        font-size: 0.5;
    }
    .carrusel-media{
        display: none;
    }
}

