@media (max-width:320px){
    .nav-desktop{
        display: none;
    }
    .desaparecer{
        display: block;
    }
    .redes-dropdown{
        display: block;
    }
    .main-index{
        background-image: url(../assets/img/fondomobile.jpg);
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 50rem;
    }
    .titulo{
        font-size: 4rem;
    }
    .subtitulo{
        font-size: 1.5rem;
    }
   /* catalogo */
   .carrusel-mobil{
         display: block;
   }
   .carrusel-desktop{
         display: none;
    }
    .text-shop-now{
        font-size: 1.5rem;
    }
    .boton-edit{
        width: 10rem;
        height: 5rem;
        border-radius: 1rem;
    }
    /* nosotros */
    .main-nosotros{
        background-color: $color;
        background-image: url(../asset/amigas-mobile.jpg);
        padding: 0% 5% 5% 5%;
        width: 100%;
        height: 90rem;
        background-position: center;
        background-position-y: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        .div-quien{
              h1{
                width: 100%;
                height: 5rem;
                font-size: 2rem;
              }
          }
          div{
            h2{
              width: 10.9rem;
              height: 5rem;
              font-size: 1.5rem;
            }
            p{
                padding-bottom: 5px;
                  margin-top: 1.5rem;
                  margin-left: 1rem;
                  margin-right: 1rem;
                  font-size: 1rem;
                  position: center;
                  text-indent: 10px;
              }
          }
    }
    /* beneficio */
    .main-beneficio{
        height: 900px;
        section{
            h1{
                font-size: 3rem;
            }
            p{
                margin-top: 0.5rem;
                margin-left: 1rem;
                margin-right: 1rem;
                font-size: 1rem;
                text-indent: 5px;
            }
    
        }
    }
    .lee{
        font-family: 'Gowun Dodum', sans-serif;
        font-size: 1.2rem;
        color: $color;
        text-align: center;
        text-decoration: none;
    }
    .cuadrado-fast{
        margin-top: 2rem;
        width: 17rem;
        height: 5.2rem;
        background-color: $color-dos ; 
    }
    .img-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    .main-fast{
        background-color: $color;
        height: 60rem;
        h1{
            font-size: 2.5rem;
        }
        p{
            margin-top: 0.5rem;
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 1rem;
            text-indent: 5px; 
        }
        article{
            div{
                margin-top: 2rem;
                width: 300px;
                height: 100px;
                ul{
                    li{
                        font-size: 1rem;
                    }
                }
            }
        }
        .texto-articulo{
            height: 20px;
            width: 20px;
        }
    }
    .main-flex-pp{
        div{
            h1{
                font-size: 2rem;
            }
        }
    }
}
h1 {
    opacity: 0;
    animation: fade-in 3s ease forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }

p {
    opacity: 0;
    animation: fade-in 2s ease forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }